<h1>Listing mws_orders</h1>

<table>
  <tr>
    <th>Amazon order</th>
    <th>Seller order</th>
    <th>Purchase date</th>
    <th>Last update date</th>
    <th>Order status</th>
    <th>Fulfillment channel</th>
    <th>Sales channel</th>
    <th>Order channel</th>
    <th>Ship service level</th>
    <th>Amount</th>
    <th>Currency code</th>
    <th>Address line 1</th>
    <th>Address line 2</th>
    <th>Address line 3</th>
    <th>City</th>
    <th>County</th>
    <th>District</th>
    <th>State or region</th>
    <th>Postal code</th>
    <th>Country code</th>
    <th>Phone</th>
    <th>Number of items shipped</th>
    <th>Number of items unshipped</th>
    <th>Marketplace</th>
    <th>Buyer name</th>
    <th>Buyer email</th>
    <th>Ship service level category</th>
    <th>Mws response</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mws_orders.each do |mws_order| %>
  <tr>
    <td><%= mws_order.amazon_order_id %></td>
    <td><%= mws_order.seller_order_id %></td>
    <td><%= mws_order.purchase_date %></td>
    <td><%= mws_order.last_update_date %></td>
    <td><%= mws_order.order_status %></td>
    <td><%= mws_order.fulfillment_channel %></td>
    <td><%= mws_order.sales_channel %></td>
    <td><%= mws_order.order_channel %></td>
    <td><%= mws_order.ship_service_level %></td>
    <td><%= mws_order.amount %></td>
    <td><%= mws_order.currency_code %></td>
    <td><%= mws_order.address_line_1 %></td>
    <td><%= mws_order.address_line_2 %></td>
    <td><%= mws_order.address_line_3 %></td>
    <td><%= mws_order.city %></td>
    <td><%= mws_order.county %></td>
    <td><%= mws_order.district %></td>
    <td><%= mws_order.state_or_region %></td>
    <td><%= mws_order.postal_code %></td>
    <td><%= mws_order.country_code %></td>
    <td><%= mws_order.phone %></td>
    <td><%= mws_order.number_of_items_shipped %></td>
    <td><%= mws_order.number_of_items_unshipped %></td>
    <td><%= mws_order.marketplace_id %></td>
    <td><%= mws_order.buyer_name %></td>
    <td><%= mws_order.buyer_email %></td>
    <td><%= mws_order.ship_service_level_category %></td>
    <td><%= mws_order.mws_response_id %></td>
    <td><%= link_to 'Show', mws_order %></td>
    <td><%= link_to 'Edit', edit_mws_order_path(mws_order) %></td>
    <td><%= link_to 'Destroy', mws_order, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Mws order', new_mws_order_path %>
