%h1="Listing Orders Received From Amazon"

%table
	%tr
		%th="Store"
		%th="Purchase time (UTC)"
		%th="Ship to name"
		%th="Bill to name"
		%th="Shipping"
		%th="Amount"
		%th="City"
		%th="State or region"
		%th="Postal code"
		%th="Country code"
		%th="Items"
		%th="Items Missing?"
		%th="Gift?"
		%th="OMX?"
		%th

	- @mws_orders.each do |mws_order|
		%tr
			%td= mws_order.store.name
			%td= time_ago_in_words(mws_order.purchase_date) + " ago"
			%td= mws_order.name
			%td= mws_order.buyer_name
			%td= mws_order.shipment_service_level_category
			%td= mws_order.amount
			%td= mws_order.city
			%td= mws_order.omx_state
			%td= mws_order.postal_code
			%td= mws_order.country_code
			%td= mws_order.number_of_items_unshipped
			%td
				- missing = (mws_order.number_of_items_unshipped - mws_order.item_quantity) 
				- if missing > 0
					%b= "#{missing} missing"
			
			%td
				- gift = mws_order.omx_gift_wrapping
				- if gift == "True"
					%b= "Gift"
			%td
				- omx_status = mws_order.pushed_to_omx?
				- if omx_status == "Error"
					%b= omx_status
				- else
					= omx_status
			%td= link_to 'Show', mws_order
%br

= link_to 'New Mws order', new_mws_order_path
