%h1="Listing Orders Received From Amazon"

%table
	%tr
		%th="Purchase time (UTC)"
		%th="Ship to name"
		%th="Shipping"
		%th="Amount"
		%th="Address"
		%th="City"
		%th="State or region"
		%th="Postal code"
		%th="Country code"
		%th="Number of items unshipped"
		%th="Items loaded"
		%th="Store"
		%th="OMX?"
		%th

	- @mws_orders.order('purchase_date DESC').each do |mws_order|
		%tr
			%td= mws_order.purchase_date.to_s(:db)
			%td= mws_order.name
			%td= mws_order.shipment_service_level_category
			%td= mws_order.amount
			%td= mws_order.address_line_1.to_s + mws_order.address_line_2.to_s + mws_order.address_line_3.to_s
			%td= mws_order.city
			%td= mws_order.omx_state
			%td= mws_order.postal_code
			%td= mws_order.country_code
			%td= mws_order.number_of_items_unshipped
			%td= mws_order.item_quantity
			%td= mws_order.mws_response.mws_request.store.name
			%td= mws_order.pushed_to_omx?
			%td= link_to 'Show', mws_order
%br

= link_to 'New Mws order', new_mws_order_path
