<p id="notice"><%= notice %></p>

<p>
  <b>Amazon order:</b>
  <%= @mws_order.amazon_order_id %>
</p>

<p>
  <b>Seller order:</b>
  <%= @mws_order.seller_order_id %>
</p>

<p>
  <b>Purchase date:</b>
  <%= @mws_order.purchase_date %>
</p>

<p>
  <b>Last update date:</b>
  <%= @mws_order.last_update_date %>
</p>

<p>
  <b>Order status:</b>
  <%= @mws_order.order_status %>
</p>

<p>
  <b>Fulfillment channel:</b>
  <%= @mws_order.fulfillment_channel %>
</p>

<p>
  <b>Sales channel:</b>
  <%= @mws_order.sales_channel %>
</p>

<p>
  <b>Order channel:</b>
  <%= @mws_order.order_channel %>
</p>

<p>
  <b>Ship service level:</b>
  <%= @mws_order.ship_service_level %>
</p>

<p>
  <b>Amount:</b>
  <%= @mws_order.amount %>
</p>

<p>
  <b>Currency code:</b>
  <%= @mws_order.currency_code %>
</p>

<p>
  <b>Address line 1:</b>
  <%= @mws_order.address_line_1 %>
</p>

<p>
  <b>Address line 2:</b>
  <%= @mws_order.address_line_2 %>
</p>

<p>
  <b>Address line 3:</b>
  <%= @mws_order.address_line_3 %>
</p>

<p>
  <b>City:</b>
  <%= @mws_order.city %>
</p>

<p>
  <b>County:</b>
  <%= @mws_order.county %>
</p>

<p>
  <b>District:</b>
  <%= @mws_order.district %>
</p>

<p>
  <b>State or region:</b>
  <%= @mws_order.state_or_region %>
</p>

<p>
  <b>Postal code:</b>
  <%= @mws_order.postal_code %>
</p>

<p>
  <b>Country code:</b>
  <%= @mws_order.country_code %>
</p>

<p>
  <b>Phone:</b>
  <%= @mws_order.phone %>
</p>

<p>
  <b>Number of items shipped:</b>
  <%= @mws_order.number_of_items_shipped %>
</p>

<p>
  <b>Number of items unshipped:</b>
  <%= @mws_order.number_of_items_unshipped %>
</p>

<p>
  <b>Marketplace:</b>
  <%= @mws_order.marketplace_id %>
</p>

<p>
  <b>Buyer name:</b>
  <%= @mws_order.buyer_name %>
</p>

<p>
  <b>Buyer email:</b>
  <%= @mws_order.buyer_email %>
</p>

<p>
  <b>Ship service level category:</b>
  <%= @mws_order.ship_service_level_category %>
</p>

<p>
  <b>Mws response:</b>
  <%= @mws_order.mws_response_id %>
</p>


<%= link_to 'Edit', edit_mws_order_path(@mws_order) %> |
<%= link_to 'Back', mws_orders_path %>
