%tr
	-#%td= mws_order_item.asin
	-#%td= mws_order_item.amazon_order_item_id
	%td= mws_order_item.title
	%td= mws_order_item.seller_sku
	%td= mws_order_item.quantity_ordered
	%td= mws_order_item.quantity_shipped
	%td= mws_order_item.item_price
	-#%td= mws_order_item.item_price_currency
	-#%td= mws_order_item.shipping_price
	-#%td= mws_order_item.shipping_price_currency
	-#%td= mws_order_item.gift_price
	-#%td= mws_order_item.gift_price_currency
	-#%td= mws_order_item.item_tax
	-#%td= mws_order_item.item_tax_currency
	-#%td= mws_order_item.shipping_tax
	-#%td= mws_order_item.shipping_tax_currency
	-#%td= mws_order_item.gift_tax
	-#%td= mws_order_item.gift_tax_currency
	-#%td= mws_order_item.shipping_discount
	-#%td= mws_order_item.shipping_discount_currency
	-#%td= mws_order_item.promotion_discount
	-#%td= mws_order_item.promotion_discount_currency
	-#%td= mws_order_item.gift_wrap_level
	-#%td= mws_order_item.gift_message_text
	-#%td= mws_order_item.mws_order_id
	-#%td= mws_order_item.amazon_order_id
	%td= link_to 'Show', mws_order_item