%tr
	-#%td= mws_order_item.asin
	-#%td= mws_order_item.amazon_order_item_id
	-#- variant = Variant.find_by_sku(mws_order_item.clean_sku)
	- x = mws_order_item.get_catalog_match
	- if !x.nil?
		%td= link_to(mws_order_item.clean_sku,x)
	- else
		%td= mws_order_item.clean_sku
	%td= truncate(mws_order_item.title, :length => 100)
	%td.num= mws_order_item.quantity_ordered
	%td.num= mws_order_item.quantity_shipped
	%td.num= number_to_currency(mws_order_item.get_item_price, :precision => 2)
	-#%td= mws_order_item.item_price_currency
	%td.num= number_to_currency(mws_order_item.get_ship_price, :precision => 2)
	-#%td= mws_order_item.shipping_price_currency
	%td.num= number_to_currency(mws_order_item.get_gift_price, :precision => 2)
	%td.num= number_to_currency(mws_order_item.get_total_price, :precision => 2)
	%td
		- if mws_order_item.is_gift? == 1
			=image_tag('gift.png', :title => "#{mws_order_item.gift_wrap_level} - #{mws_order_item.gift_message_text}", :width => 20)
	-#%td= mws_order_item.gift_price_currency
	-#%td= mws_order_item.item_tax
	-#%td= mws_order_item.item_tax_currency
	-#%td= mws_order_item.shipping_tax
	-#%td= mws_order_item.shipping_tax_currency
	-#%td= mws_order_item.gift_tax
	-#%td= mws_order_item.gift_tax_currency
	-#%td= mws_order_item.shipping_discount
	-#%td= mws_order_item.shipping_discount_currency
	-#%td= mws_order_item.promotion_discount
	-#%td= mws_order_item.promotion_discount_currency
	-#%td= mws_order_item.gift_wrap_level
	-#%td= mws_order_item.gift_message_text
	-#%td= mws_order_item.mws_order_id
	-#%td= mws_order_item.amazon_order_id
	%td= link_to 'Show', mws_order_item