<p>
  <b>Asin:</b>
  <%= @mws_order_item.asin %>
</p>

<p>
  <b>Amazon order item:</b>
  <%= @mws_order_item.amazon_order_item_id %>
</p>

<p>
  <b>Seller sku:</b>
  <%= @mws_order_item.seller_sku %>
</p>

<p>
  <b>Title:</b>
  <%= @mws_order_item.title %>
</p>

<p>
  <b>Quantity ordered:</b>
  <%= @mws_order_item.quantity_ordered %>
</p>

<p>
  <b>Quantity shipped:</b>
  <%= @mws_order_item.quantity_shipped %>
</p>

<p>
  <b>Item price:</b>
  <%= @mws_order_item.item_price %>
</p>

<p>
  <b>Item price currency:</b>
  <%= @mws_order_item.item_price_currency %>
</p>

<p>
  <b>Shipping price:</b>
  <%= @mws_order_item.shipping_price %>
</p>

<p>
  <b>Shipping price currency:</b>
  <%= @mws_order_item.shipping_price_currency %>
</p>

<p>
  <b>Gift price:</b>
  <%= @mws_order_item.gift_price %>
</p>

<p>
  <b>Gift price currency:</b>
  <%= @mws_order_item.gift_price_currency %>
</p>

<p>
  <b>Item tax:</b>
  <%= @mws_order_item.item_tax %>
</p>

<p>
  <b>Item tax currency:</b>
  <%= @mws_order_item.item_tax_currency %>
</p>

<p>
  <b>Shipping tax:</b>
  <%= @mws_order_item.shipping_tax %>
</p>

<p>
  <b>Shipping tax currency:</b>
  <%= @mws_order_item.shipping_tax_currency %>
</p>

<p>
  <b>Gift tax:</b>
  <%= @mws_order_item.gift_tax %>
</p>

<p>
  <b>Gift tax currency:</b>
  <%= @mws_order_item.gift_tax_currency %>
</p>

<p>
  <b>Shipping discount:</b>
  <%= @mws_order_item.shipping_discount %>
</p>

<p>
  <b>Shipping discount currency:</b>
  <%= @mws_order_item.shipping_discount_currency %>
</p>

<p>
  <b>Promotion discount:</b>
  <%= @mws_order_item.promotion_discount %>
</p>

<p>
  <b>Promotion discount currency:</b>
  <%= @mws_order_item.promotion_discount_currency %>
</p>

<p>
  <b>Gift wrap level:</b>
  <%= @mws_order_item.gift_wrap_level %>
</p>

<p>
  <b>Gift message text:</b>
  <%= @mws_order_item.gift_message_text %>
</p>

<p>
  <b>Mws order:</b>
  <%= @mws_order_item.mws_order_id %>
</p>

<p>
  <b>Amazon order:</b>
  <%= @mws_order_item.amazon_order_id %>
</p>