<p id="notice"><%= notice %></p>

<p>
  <b>Mws request:</b>
  <%= @mws_response.mws_request_id %>
</p>

<p>
  <b>Amazon request:</b>
  <%= @mws_response.amazon_request_id %>
</p>

<p>
  <b>Next token:</b>
  <%= @mws_response.next_token %>
</p>

<p>
  <b>Last updated before:</b>
  <%= @mws_response.last_updated_before %>
</p>

<p>
  <b>Created before:</b>
  <%= @mws_response.created_before %>
</p>

<p>
  <b>Request type:</b>
  <%= @mws_response.request_type %>
</p>

<p>
  <b>Page num:</b>
  <%= @mws_response.page_num %>
</p>

<p>
  <b>Error code:</b>
  <%= @mws_response.error_code %>
</p>

<p>
  <b>Error message:</b>
  <%= @mws_response.error_message %>
</p>

<p>
  <b>Amazon order:</b>
  <%= @mws_response.amazon_order_id %>
</p>


<%= link_to 'Edit', edit_mws_response_path(@mws_response) %> |
<%= link_to 'Back', mws_responses_path %>
