<%= form_for(@store) do |f| %>
  <% if @store.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@store.errors.count, "error") %> prohibited this store from being saved:</h2>

      <ul>
      <% @store.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :store_type %><br />
    <%= f.text_field :store_type %>
  </div>
  <div class="field">
    <%= f.label :queue_flag %><br />
    <%= f.select(:queue_flag, options_for_select(["True","False"])) %>
  </div>
  <div class="field">
    <%= f.label :verify_flag %><br />
    <%= f.select(:verify_flag, options_for_select(["True","False"])) %>
  </div>
  <div class="field">
    <%= f.label :order_results_per_page %><br />
    <%= f.number_field :order_results_per_page %>
  </div>
  <div class="field">
    <%= f.label :max_order_pages %><br />
    <%= f.number_field :max_order_pages %>
  </div>
  <div class="field">
    <%= f.label :authenticated_url %><br />
    <%= f.text_field :authenticated_url %>
  </div>  
	<div class="field">
		<%= f.label "Icon" %><br />
		<%= f.file_field :icon %>
  </div>  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
