- @stores.each do |store|
	%div.store
		= link_to(image_tag(store.icon),products_path(:store_id => store.id))
		%br
		%b= store.name
		%br
		= link_to "#{store.products.count} products", products_path(:store_id => store.id)
		%br
		= link_to 'Show', store
		= link_to 'Edit', edit_store_path(store)
		= link_to 'Destroy', store, confirm: 'Are you sure?', method: :delete

%br
%hr
= link_to 'New Store', new_store_path