<h1>Listing stores</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Queue Flag</th>
    <th>Verify Flag</th>
    <th>Orders / Page</th>
    <th>Max Pages</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @stores.each do |store| %>
  <tr>
    <td><%= store.name %></td>
    <td><%= store.store_type %></td>
    <td><%= store.queue_flag %></td>
    <td><%= store.verify_flag %></td>
    <td><%= store.order_results_per_page %></td>
    <td><%= store.max_order_pages %></td>
    <td><%= link_to 'Show', store %></td>
    <td><%= link_to 'Edit', edit_store_path(store) %></td>
    <td><%= link_to 'Destroy', store, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Store', new_store_path %>
