<h1>Listing imports</h1>

<table>
  <tr>
    <th>Datatype</th>
    <th>Processed</th>
    <th>Csv file name</th>
    <th>Csv content type</th>
    <th>Csv file size</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @imports.each do |import| %>
  <tr>
    <td><%= import.datatype %></td>
    <td><%= import.processed %></td>
    <td><%= import.csv_file_name %></td>
    <td><%= import.csv_content_type %></td>
    <td><%= import.csv_file_size %></td>
    <td><%= link_to 'Show', import %></td>
    <td><%= link_to 'Edit', edit_import_path(import) %></td>
    <td><%= link_to 'Destroy', import, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Import', new_import_path %>
