<p>
  <b>Datatype:</b>
  <%= @import.datatype %>
</p>

<p>
  <b>Processed:</b>
  <%= @import.processed %>
</p>

<p>
  <b>Csv file name:</b>
  <%= @import.csv_file_name %>
</p>

<p>
  <b>Csv content type:</b>
  <%= @import.csv_content_type %>
</p>

<p>
  <b>Csv file size:</b>
  <%= @import.csv_file_size %>
</p>


<%= link_to 'Edit', edit_import_path(@import) %> |
<%= link_to 'Back', imports_path %>
