<h1>Listing orders</h1>

<table>
  <tr>
    <th>Amazon order</th>
    <th>Seller order</th>
    <th>Purchase date</th>
    <th>Last update date</th>
    <th>Order status</th>
    <th>Fulfillment channel</th>
    <th>Sales channel</th>
    <th>Order channel</th>
    <th>Ship service level</th>
    <th>Amount</th>
    <th>Currency code</th>
    <th>Address line 1</th>
    <th>Address line 2</th>
    <th>Address line 3</th>
    <th>City</th>
    <th>County</th>
    <th>District</th>
    <th>State or region</th>
    <th>Postal code</th>
    <th>Country code</th>
    <th>Phone</th>
    <th>Number of items shipped</th>
    <th>Number of items unshipped</th>
    <th>Marketplace</th>
    <th>Buyer name</th>
    <th>Buyer email</th>
    <th>Ship service level category</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @orders.each do |order| %>
  <tr>
    <td><%= order.amazon_order_id %></td>
    <td><%= order.seller_order_id %></td>
    <td><%= order.purchase_date %></td>
    <td><%= order.last_update_date %></td>
    <td><%= order.order_status %></td>
    <td><%= order.fulfillment_channel %></td>
    <td><%= order.sales_channel %></td>
    <td><%= order.order_channel %></td>
    <td><%= order.ship_service_level %></td>
    <td><%= order.amount %></td>
    <td><%= order.currency_code %></td>
    <td><%= order.address_line_1 %></td>
    <td><%= order.address_line_2 %></td>
    <td><%= order.address_line_3 %></td>
    <td><%= order.city %></td>
    <td><%= order.county %></td>
    <td><%= order.district %></td>
    <td><%= order.state_or_region %></td>
    <td><%= order.postal_code %></td>
    <td><%= order.country_code %></td>
    <td><%= order.phone %></td>
    <td><%= order.number_of_items_shipped %></td>
    <td><%= order.number_of_items_unshipped %></td>
    <td><%= order.marketplace_id %></td>
    <td><%= order.buyer_name %></td>
    <td><%= order.buyer_email %></td>
    <td><%= order.ship_service_level_category %></td>
    <td><%= link_to 'Show', order %></td>
    <td><%= link_to 'Edit', edit_order_path(order) %></td>
    <td><%= link_to 'Destroy', order, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Order', new_order_path %>
