<h1>Listing Requests to Amazon MWS API</h1>

<table>
  <tr>
    <th>Store</th>
    <th>Request type</th>
    <th>Created at (UTC)</th>
    <th>Errors</th>
    <th>Responses</th>
    <th></th>
  </tr>

<% @mws_requests.each do |mws_request| %>
  <tr>
    <td><%= mws_request.store ? mws_request.store.name : "nil" %></td>
    <td><%= mws_request.request_type %></td>
    <td><%= mws_request.created_at.to_s(:db) %></td>
    <td><%= mws_request.error_count %></td>
    <td><%= mws_request.mws_responses.count %></td>
    <td><%= link_to 'Show', mws_request %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Mws request', new_mws_request_path %>
