=paginate @mws_requests

%h1= "Listing Requests to Amazon MWS API"

%table
	%tr
		%th= "Store"
		%th= "Request Type"
		%th= "Age"
		%th= "Comment"
		%th

	- @mws_requests.each do |mws_request|
		%tr
			%td= mws_request.store ? mws_request.store.name : "nil"
			%td= mws_request.request_type
			%td= time_ago_in_words(mws_request.created_at) + " ago"
			%td= mws_request.get_request_summary_string
			%td= link_to 'Show', mws_request