%h1= "Amazon Request Detail"

%p
	%b= "Amazon request:"
	= @mws_request.request_type
	= "-"
	= @mws_request.amazon_request_id

%p
	%b= "Created at:"
	= @mws_request.created_at.to_s(:db)

%hr

- @mws_request.mws_responses.each do |r|
	%b= "Response: #{r.created_at.to_s(:db)}, Next-token?: #{r.next_token ? 'Yes' : 'No' } #{r.error_code} #{r.error_message}"
	- r.mws_orders.each do |o|
		%p
			%b= "Order #{o.amazon_order_id}:"
			= "#{o.purchase_date.to_s(:db)}, #{o.buyer_name}, #{o.amount}, items:#{o.mws_order_items.count}"
			= link_to 'View Order', o
			

	- r.mws_order_items.each do |i|
		%p
			%b= "Item #{i.amazon_order_item_id}:"
			= "#{i.clean_sku}, #{i.title}, #{i.product_price_per_unit}"
			= link_to 'View Item', i	
			= link_to 'View Order', i.mws_order