%h1= "Amazon Request Detail"

%p
	%b= "Amazon request:"
	= @mws_request.request_type
	= "-"
	= @mws_request.amazon_request_id

%p
	%b= "Created at:"
	= @mws_request.created_at.to_s(:db)

%hr

- @mws_request.mws_responses.each do |r|
	%b= "Response: #{r.created_at.to_s(:db)}, Next-token?: #{r.next_token ? 'Yes' : 'No' } #{r.error_code} #{r.error_message}"
	- r.mws_orders.each do |o|
		%p
			%b= "Order #{o.amazon_order_id}:"
			= "#{o.purchase_date.to_s(:db)}, #{o.buyer_name}, #{o.amount}, items:#{o.mws_order_items.count}"
			= link_to 'View Order', o
	- @mws_request.sub_requests.each do |r2|
		- r2.mws_responses.each do |r3|
			= "Response: #{r3.created_at.to_s(:db)}, #{r3.error_code} #{r3.error_message}, #{r2.request_type}"
			%br
			
	%hr