<p id="notice"><%= notice %></p>

<p>
  <b>Amazon request:</b>
  <%= @mws_request.amazon_request_id %>
</p>

<p>
  <b>Request type:</b>
  <%= @mws_request.request_type %>
</p>


<%= link_to 'Edit', edit_mws_request_path(@mws_request) %> |
<%= link_to 'Back', mws_requests_path %>
