<%= form_for(@response) do |f| %>
  <% if @response.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@response.errors.count, "error") %> prohibited this response from being saved:</h2>

      <ul>
      <% @response.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :request_id %><br />
    <%= f.number_field :request_id %>
  </div>
  <div class="field">
    <%= f.label :amazon_request_id %><br />
    <%= f.text_field :amazon_request_id %>
  </div>
  <div class="field">
    <%= f.label :next_token %><br />
    <%= f.text_area :next_token %>
  </div>
  <div class="field">
    <%= f.label :last_updated_before %><br />
    <%= f.datetime_select :last_updated_before %>
  </div>
  <div class="field">
    <%= f.label :created_before %><br />
    <%= f.datetime_select :created_before %>
  </div>
  <div class="field">
    <%= f.label :request_type %><br />
    <%= f.text_field :request_type %>
  </div>
  <div class="field">
    <%= f.label :page_num %><br />
    <%= f.number_field :page_num %>
  </div>
  <div class="field">
    <%= f.label :error_code %><br />
    <%= f.text_field :error_code %>
  </div>
  <div class="field">
    <%= f.label :error_message %><br />
    <%= f.text_area :error_message %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
