<h1>Listing responses</h1>

<table>
  <tr>
    <th>Request</th>
    <th>Amazon request</th>
    <th>Next token</th>
    <th>Last updated before</th>
    <th>Created before</th>
    <th>Request type</th>
    <th>Page num</th>
    <th>Error code</th>
    <th>Error message</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @responses.each do |response| %>
  <tr>
    <td><%= response.request_id %></td>
    <td><%= response.amazon_request_id %></td>
    <td><%= response.next_token %></td>
    <td><%= response.last_updated_before %></td>
    <td><%= response.created_before %></td>
    <td><%= response.request_type %></td>
    <td><%= response.page_num %></td>
    <td><%= response.error_code %></td>
    <td><%= response.error_message %></td>
    <td><%= link_to 'Show', response %></td>
    <td><%= link_to 'Edit', edit_response_path(response) %></td>
    <td><%= link_to 'Destroy', response, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Response', new_response_path %>
