%b= "#{@variant.product.brand.name} #{@variant.product.name}"
%p= "SKU: #{@variant.sku}"
%p= "Cost: $#{@variant.cost_price}"
%p= "Size: #{@variant.size}"
%p= "Color1: #{@variant.color1} (#{@variant.color1_code})"
%p= "Color2: #{@variant.color2} (#{@variant.color2_code})"
%p= "Availability: #{@variant.availability}"
%p= "Master?: #{@variant.is_master}"
%p= render @variant.variant_images
%p= "Product Properties: #{@variant.product.meta_keywords.split(/,/)}"
%p= "Amazon Product ID: #{@variant.amazon_product_id}"
%p
	= link_to 'Edit', edit_variant_path(@variant)
	= link_to 'Back', variants_path
