<p>
	<b>Price:</b>
	<%= @variant.price %>
</p>

<p>
	<b>Cost price:</b>
  <%= @variant.cost_price %>
</p>

<p>
  <b>Weight:</b>
  <%= @variant.weight %>
</p>

<p>
  <b>Height:</b>
  <%= @variant.height %>
</p>

<p>
  <b>Width:</b>
  <%= @variant.width %>
</p>

<p>
  <b>Depth:</b>
  <%= @variant.depth %>
</p>

<p>
  <b>Size:</b>
  <%= @variant.size %>
</p>

<p>
  <b>Color1:</b>
  <%= @variant.color1 %>
</p>

<p>
  <b>Color2:</b>
  <%= @variant.color2 %>
</p>

<p>
  <b>Color1 code:</b>
  <%= @variant.color1_code %>
</p>

<p>
  <b>Color2 code:</b>
  <%= @variant.color2_code %>
</p>

<p>
  <b>Availability:</b>
  <%= @variant.availability %>
</p>

<p>
  <b>Deleted at:</b>
  <%= @variant.deleted_at %>
</p>

<p>
  <b>Is master:</b>
  <%= @variant.is_master %>
</p>

<p>
  <b>Position:</b>
  <%= @variant.position %>
</p>

<p>
  <b>Amazon product:</b>
  <%= @variant.amazon_product_id %>
</p>

<p>
  <b>Amazon product name:</b>
  <%= @variant.amazon_product_name %>
</p>

<p>
  <b>Amazon product description:</b>
  <%= @variant.amazon_product_description %>
</p>

<%= link_to 'Edit', edit_variant_path(@variant) %> |
<%= link_to 'Back', variants_path %>
