%h1="Listing omx_requests"

%table
	%tr
		%th="Request type"
		%th="Queue flag"
		%th="Verify flag"
		%th="Created at"
		%th
		%th
		%th

	- @omx_requests.each do |omx_request|
		%tr
			%td= omx_request.request_type
			%td= omx_request.queue_flag
			%td= omx_request.verify_flag
			%td= omx_request.created_at
			%td
				- o = omx_request.mws_order
				- if o
					= link_to o.amazon_order_id, o
			%td= link_to 'Show', omx_request
			%td= link_to 'Edit', edit_omx_request_path(omx_request)
			%td= link_to 'Destroy', omx_request, confirm: 'Are you sure?', method: :delete

%br

= link_to 'New Omx request', new_omx_request_path