%p
	%b="Ordermotion request:"
	= @omx_request.request_type

%p
	%b="Created at:"
	= @omx_request.created_at

%p
	%b="Store code:"
	= @omx_request.store_code

%p
	%b="Vendor:"
	= @omx_request.vendor

%p
	%b="Queue flag:"
	= @omx_request.queue_flag

%p
	%b="Verify flag:"
	= @omx_request.verify_flag

%p
	%b="Success:"
	= @omx_response.success

%p
	%b="Ordermotion response:"
	= @omx_response.ordermotion_response_id

%p
	%b="Ordermotion order number:"
	= @omx_response.ordermotion_order_number

%p
	%b="Errors:"
	= @omx_response.error_data