<p id="notice"><%= notice %></p>

<p>
  <b>Ordermotion request:</b>
  <%= @omx_request.ordermotion_request_id %>
</p>

<p>
  <b>Request type:</b>
  <%= @omx_request.request_type %>
</p>


<%= link_to 'Edit', edit_omx_request_path(@omx_request) %> |
<%= link_to 'Back', omx_requests_path %>
