<p id="notice"><%= notice %></p>

<p>
  <b>Asin:</b>
  <%= @order_item.asin %>
</p>

<p>
  <b>Order item:</b>
  <%= @order_item.order_item_id %>
</p>

<p>
  <b>Seller sku:</b>
  <%= @order_item.seller_sku %>
</p>

<p>
  <b>Title:</b>
  <%= @order_item.title %>
</p>

<p>
  <b>Quantity ordered:</b>
  <%= @order_item.quantity_ordered %>
</p>

<p>
  <b>Quantity shipped:</b>
  <%= @order_item.quantity_shipped %>
</p>

<p>
  <b>Item price:</b>
  <%= @order_item.item_price %>
</p>

<p>
  <b>Item price currency:</b>
  <%= @order_item.item_price_currency %>
</p>

<p>
  <b>Shipping price:</b>
  <%= @order_item.shipping_price %>
</p>

<p>
  <b>Shipping price currency:</b>
  <%= @order_item.shipping_price_currency %>
</p>

<p>
  <b>Gift price:</b>
  <%= @order_item.gift_price %>
</p>

<p>
  <b>Gift price currency:</b>
  <%= @order_item.gift_price_currency %>
</p>

<p>
  <b>Item tax:</b>
  <%= @order_item.item_tax %>
</p>

<p>
  <b>Item tax currency:</b>
  <%= @order_item.item_tax_currency %>
</p>

<p>
  <b>Shipping tax:</b>
  <%= @order_item.shipping_tax %>
</p>

<p>
  <b>Shipping tax currency:</b>
  <%= @order_item.shipping_tax_currency %>
</p>

<p>
  <b>Gift tax:</b>
  <%= @order_item.gift_tax %>
</p>

<p>
  <b>Gift tax currency:</b>
  <%= @order_item.gift_tax_currency %>
</p>

<p>
  <b>Shipping discount:</b>
  <%= @order_item.shipping_discount %>
</p>

<p>
  <b>Shipping discount currency:</b>
  <%= @order_item.shipping_discount_currency %>
</p>

<p>
  <b>Promotion discount:</b>
  <%= @order_item.promotion_discount %>
</p>

<p>
  <b>Promotion discount currency:</b>
  <%= @order_item.promotion_discount_currency %>
</p>

<p>
  <b>Gift wrap level:</b>
  <%= @order_item.gift_wrap_level %>
</p>

<p>
  <b>Gift message text:</b>
  <%= @order_item.gift_message_text %>
</p>


<%= link_to 'Edit', edit_order_item_path(@order_item) %> |
<%= link_to 'Back', order_items_path %>
