<h1>Listing omx_responses</h1>

<table>
  <tr>
    <th>Omx request</th>
    <th>Success</th>
    <th>Ordermotion response</th>
    <th>Ordermotion order number</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @omx_responses.each do |omx_response| %>
  <tr>
    <td><%= omx_response.omx_request_id %></td>
    <td><%= omx_response.success %></td>
    <td><%= omx_response.ordermotion_response_id %></td>
    <td><%= omx_response.ordermotion_order_number %></td>
    <td><%= link_to 'Show', omx_response %></td>
    <td><%= link_to 'Edit', edit_omx_response_path(omx_response) %></td>
    <td><%= link_to 'Destroy', omx_response, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Omx response', new_omx_response_path %>
