- variants_arr = product.variants
%tr.product
	%td
		= image_tag product.brand.icon, :width => 100
		%br
		%b= product.name
		%br
		= link_to 'Show', product
		= link_to 'Edit', edit_product_path(product)
		= link_to 'Destroy', product, confirm: 'Are you sure?', method: :delete
	%td
		= render product.variants
	%td
		- stores_arr = product.stores
		- stores_arr.each do |s|
			.pill
				= link_to image_tag('delete.png') + "#{s.name}", s
		%br
		-#- stores_arr2 = Store.all.keep_if { |s| !stores_arr.include?(s) }
		-#= form_tag('/posts', :method => :put)
		-#= hidden_field_tag 'product_id', product.id
		-#= select_tag 'store_id', options_from_collection_for_select(stores_arr2, 'id', 'name')
		-#= submit_tag 'Add to'
		-#%br