<%= form_for(@variant_image) do |f| %>
  <% if @variant_image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@variant_image.errors.count, "error") %> prohibited this variant_image from being saved:</h2>

      <ul>
      <% @variant_image.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :variant_id %><br />
    <%= f.number_field :variant_id %>
  </div>
  <div class="field">
    <%= f.label :image_file_name %><br />
    <%= f.file_field :image %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
