<p id="notice"><%= notice %></p>

<p>
  <b>Variant:</b>
  <%= @variant_image.variant_id %>
</p>

<p>
  <b>Image file name:</b>
  <%= image_tag @variant_image.image.url %>
</p>

<%= link_to 'Edit', edit_variant_image_path(@variant_image) %> |
<%= link_to 'Back', variant_images_path %>
