<!DOCTYPE html>
<html>
<head>
  <title>HDO Group</title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div id="header">
    <h1><%= link_to 'HDO Group', '/' %></h1>
    
    <p id="login-link">
      <% if current_shop %>
          <span class="note">current shop</span> <%= link_to current_shop.url, "https://#{current_shop.url}", :class => 'shop_name' %> <span class="note">|</span>
          <%= link_to 'logout', logout_path %>
      <% end %>
    </p>
  </div>

  <div id="container" class="clearfix">
    <ul id="tabs">
      <%= tab :index, {:controller => '/home'}, :label => 'Home' %>
      <%= tab :stores, {:controller => '/mws_requests', :action => 'index'}, :label => 'Amazon Requests' %>
      <%= tab :stores, {:controller => '/mws_orders', :action => 'index'}, :label => 'Amazon Orders' %>
      <%= tab :stores, {:controller => '/stores', :action => 'index'}, :label => 'Stores' %>
      <%= tab :stores, {:controller => '/vendors', :action => 'index'}, :label => 'Vendors' %>
      <%= tab :stores, {:controller => '/brands', :action => 'index'}, :label => 'Brands' %>
      <%= tab :stores, {:controller => '/products', :action => 'index'}, :label => 'Products' %>
    </ul>
    
    <!-- Flash error & notice-->
    <% if flash[:error] %> <div id="flasherrors"><%= flash[:error] %></div><% end %>
    <% if flash[:notice] %><div id="flashnotices"><%= flash[:notice] %></div><% end %>
  
    <!-- begin div.main-->
    <div id="main">
      <%= yield %>
    </div>
    <!-- end div.main -->
  </div>
</body>
</html>
